body {
  min-height: 100vh;  /* body fills viewport height */
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Source Sans Pro', sans-serif;
}

/* nav */

nav {
  flex: 0 0 50px; /* Don't grow, don't shrink, remain at 50px */
  color: #454D74;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0px 10px 0px 10px;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

nav li {
  text-transform: uppercase;
  margin: 0px 5px 0px 5px;
}

nav li.active {
  padding-bottom: 2px;
  border-bottom: 1px solid #454D74;
}

/* header */

header {
  flex: 0 1 100px; /* Don't grow, shrink, begin at 100px */
  margin: 0px 10px 0px 10px;
}

header h1 {
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-container h2 {
  font-size: 1.25em;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
}

header ul li {
  margin: 0px 5px 0px 5px;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 600;
  color: #4A90E2;
}

/* main */
main {
  flex: 1 0 auto; /* Grow, don't shrink, fill space */
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-flow: column nowrap;
}

#cards {
  background-color: #454D74;
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.card {
  width: 250px;
  height: 300px;
  background-color: white;
  margin: 10px;

}

.overlay {
  display: none;
  position: absolute;
  z-index: 3;
}

#background-overlay {
  display: none;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#labels {
  align-self: center;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
}

#labelList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

button, input{
  border: 1px solid #ccc;
}
/* footer */

footer {
  /*flex: 0 0 50px; /* Don't grow, don't shrink, fill space */
}
